*{margin: 0px;
    padding: 0px;
  
  }
  .search{
      text-align: center;
      margin-top: 40px;
  }
  .input{
      padding: 9px 47px;
      font-size: 20px;
  }
  .search-btn{
      padding: 9px 40px;
      font-size: 20px;
      margin-top: -7px;
  }
  .meal-item{
      background: #f2efef;
      padding: 7px;
      text-align: center;
      border-radius: 4px;
      box-shadow: 10px 9px 15px;
      height: 334px;
      }
    .meal-name{
        margin-top: 5px;
    }  
    #meal-details{
      width: 21rem;
      box-shadow: 2px 6px 17px;
      background: #f2efef;
      border-radius: 4px;
      margin-top: -77px;
      margin-bottom: 24px;
      
    }
    .notFound{
      font-size: 40px;
      margin-left: 250px;
      color: red;
  }
   
    footer p{
      text-align: center;
      margin-top: 100px;
  }
   